@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Managment System</h1>
    <p class="lead">
        Student Management System is a software system that is related to the management of the students.
        <br />
        Our website displays courses that help the students
        to improve their skills and admin which has many
        features to add, delete and edit users and courses for
        the students.
    </p>
</div>

